@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Great+Vibes&subset=latin,cyrillic);

/*** MAIN ***/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: 12px 'Open Sans Condensed', sans-serif;
}

h1,
h2 {
  font-size: 12px;
  margin: 0;
}


/*** HEADER ***/

.header {
  position: fixed;
  left: 0;
  right: 0;
  padding: 50px 70px 0;
  z-index: 1;
  transition: .2s;
}

.header--nofixed {
  position: absolute;
  top: 0;
}

.header__logo {
  float: left;
}

.header__logo-link {
  display: block;
  font: bold 2.5em/1em 'Great Vibes', cursive;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;
  color: #fff;
}

.header__logo-link:hover {
  text-decoration: underline;
}

.header__nav {
  float: right;
  text-align: right;
}

.header__nav-item {
  margin-left: 25px;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;
  color: #fff;
}

.header__nav-item:hover {
  text-decoration: underline;
}

.header__gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header__gallery-title {
  width: 100%;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.8);
}


/*** PAGE SECTIONS ***/


/*** PAGE SECTIONS backgrounds ***/

.pagesection__item {
  background: url(../pic/homepage/2560/wedding.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.pagesection__item:nth-of-type(2) {
  background: url(../pic/homepage/2560/lovestory.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.pagesection__item:nth-of-type(3) {
  background: url(../pic/homepage/2560/portrait.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pagesection__item:nth-of-type(4) {
  background: url(../pic/homepage/2560/studio.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*** PAGE SECTIONS second background ***/

.fp-tableCell {
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.9);
  transition: all 0.7s cubic-bezier(.2, .1, .3, 1.0);
}

.active .fp-tableCell {
  background-color: rgba(17, 17, 17, 0);
}


/*** PAGE SECTIONS border ***/

.pagesection__frames,
.pagesection__corners {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.pagesection__frames div {
  position: absolute;
}

.pagesection__frames div:nth-of-type(1) {
  top: 0;
  width: 100%;
  height: 20px;
  background: url(../img/border-horiz.svg) 50% 65%;
}

.pagesection__frames div:nth-of-type(2),
.pagesection__frames div:nth-of-type(4) {
  width: 20px;
  height: 100%;
  background: url(../img/border-vert.svg) 65% 50%;
}

.pagesection__frames div:nth-of-type(3) {
  bottom: 0;
  width: 100%;
  height: 20px;
  background: url(../img/border-horiz.svg) 50% 65%;
  transform: rotate(180deg);
}

.pagesection__frames div:nth-of-type(4) {
  right: 0;
  transform: rotate(180deg);
}

.pagesection__corners div::before,
.pagesection__corners div::after {
  content: '';
  top: 12px;
  left: 10px;
  position: absolute;
  width: 50px;
  height: 50px;
  background: url(../img/corner.svg) no-repeat center center;
}

.pagesection__corners div:nth-child(1)::after {
  top: 12px;
  right: 10px;
  left: auto;
  transform: rotate(90deg);
}

.pagesection__corners div:nth-child(2)::before {
  top: auto;
  right: 10px;
  bottom: 12px;
  left: auto;
  transform: rotate(180deg);
}

.pagesection__corners div:nth-child(2)::after {
  top: auto;
  bottom: 12px;
  transform: rotate(270deg);
}


/*** PAGE SECTIONS pagination ***/

#fp-nav {
  margin-right: 45px;
  transition: .2s;
}

#fp-nav ul li a span {
  background: #fff;
  transition: all .2s;
  transition-delay: .1s;
}

#fp-nav ul li a.active span {
  margin: -5px 0 0 -6px;
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  border-radius: 100%;
  background: transparent;
}

.fp-tooltip.right {
  padding: 0 5px;
  color: #fff !important;
  background: #ef4138;
}


/*** PAGE SECTIONS content ***/

.pagesection__item .pagesection__title {
  position: relative;
  margin-left: 20px;
  font-size: 3em;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  transition: .5s;
  transition-delay: .5s;
}

.pagesection__btn {
  padding: 10px 20px;
  font-size: 0.4em;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background: #ef4138;
}

.pagesection__btn:hover i {
  padding-left: 15px;
}

.pagesection__btn i {
  padding-left: 5px;
  transition: .3s;
}

.pagesection__item.active .pagesection__title {
  margin-left: 70px;
}


/*** FOOTER ***/

.footer {
  position: fixed;
  padding: 0 70px 50px;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 2;
  transition: .2s;
}

.callme {
  float: left;
}

.callme__mynumber {
  font-size: 1.4em;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;
  color: #fff;
}

.callme__mynumber:hover {
  text-decoration: underline;
}

.follow {
  float: right;
  font-size: 0;
  text-align: right;
}

.follow__entry {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  border: 1px transparent solid;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  box-shadow: 1px 1px 1px #000;
  vertical-align: bottom;
  color: #6f6f6f;
  background: #111;
  transition: all 0.3s ease-out;
}

.follow__entry:last-child {
  margin-right: 0;
}

.follow__entry .fa {
  position: relative;
  line-height: 28px;
}

.follow__entry::before {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 50%;
  transform: scale(0);
  background: #fff;
  transition: all 0.15s ease-out;
}

.follow__entry:hover::before {
  transform: scale(1);
}

.follow__entry:hover {
  color: #111;
}

.follow__entry {
  border-color: #fff;
  color: #fff;
  background: none;
}

.follow__entry:hover {
  color: #222;
}

.follow__entry::before {
  background: #fff;
}

.follow__entry:hover .fa-instagram {
  color: #125688;
}

.follow__entry:hover .fa-facebook {
  color: #45619D;
}

.follow__entry:hover .fa-vk {
  color: #597B9F;
}

.follow__entry:hover .fa-envelope-o {
  color: #DA4A38;
}


/*** GALLERY ***/

.wrapper-grid::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  background: url(../img/border-horiz.svg) repeat-x 100% 100%;
  transform: rotate(180deg);
}

.wrapper-grid {
  position: relative;
  width: 100%;
  background: #fff;
  z-index: 500;
}

.grid {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.grid-item {
  width: 25%;
  padding: 15px;
  text-align: center;
  transition: .2s;
}

.grid-item img {
  max-width: 100%;
  vertical-align: bottom;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.24), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
}

.grid-item img:hover {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
}


/*** BACK TO TOP ***/

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-indent: -9999px;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  overflow: hidden;
  background: rgba(232, 98, 86, 0.8) url(../img/top-arrow.svg) no-repeat center 50%;
  transition: opacity .3s;
}

.back-to-top:hover {
  background-color: #000;
}


/*** MEDIA 1920 ***/

@media screen and (max-width: 1920px) {
  .pagesection__item {
    background-image: url(../pic/homepage/1920/wedding.jpg);
  }
  .pagesection__item:nth-of-type(2) {
    background-image: url(../pic/homepage/1920/lovestory.jpg);
  }
  .pagesection__item:nth-of-type(3) {
    background-image: url(../pic/homepage/1920/portrait.jpg);
  }
  .pagesection__item:nth-of-type(4) {
    background-image: url(../pic/homepage/1920/studio.jpg);
  }
  .header__gallery {
    height: 500px;
  }
}


/*** MEDIA 1366 ***/

@media screen and (max-width: 1366px) {
  .pagesection__item {
    background-image: url(../pic/homepage/1366/wedding.jpg);
  }
  .pagesection__item:nth-of-type(2) {
    background-image: url(../pic/homepage/1366/lovestory.jpg);
  }
  .pagesection__item:nth-of-type(3) {
    background-image: url(../pic/homepage/1366/portrait.jpg);
  }
  .pagesection__item:nth-of-type(4) {
    background-image: url(../pic/homepage/1366/studio.jpg);
  }
  .header__gallery {
    height: 440px;
  }
  .header__gallery-title {
    font-size: 45px;
  }
  .grid-item {
    width: 33.333%;
    padding: 12px;
  }
}


/*** MEDIA 700 ***/

@media screen and (max-width: 700px) {
  body {
    font-size: 10px;
  }
  .header {
    padding: 30px 45px 0;
  }
  .header__gallery {
    height: 300px;
  }
  .header__gallery-title {
    font-size: 30px;
  }
  .pagesection__frames div:nth-of-type(1),
  .pagesection__frames div:nth-of-type(2),
  .pagesection__frames div:nth-of-type(3),
  .pagesection__frames div:nth-of-type(4) {
    background-position: 100% 100%;
  }
  .pagesection__corners div::before,
  .pagesection__corners div::after {
    left: 5px;
    top: 6px;
  }
  .pagesection__corners div:nth-child(1)::after {
    right: 5px;
    top: 6px;
  }
  .pagesection__corners div:nth-child(2)::before {
    right: 5px;
    bottom: 6px;
  }
  .pagesection__corners div:nth-child(2)::after {
    bottom: 6px;
  }
  #fp-nav {
    margin-right: 20px;
  }
  .pagesection__item.active .pagesection__title {
    margin-left: 45px;
  }
  .footer {
    padding: 0 45px 30px;
  }
  .follow__entry {
    width: 24px;
    height: 24px;
    margin: 0 3px;
  }
  .follow .fa {
    font-size: 11px;
    line-height: 22px;
  }
  .grid-item {
    width: 50%;
    padding: 10px;
  }
}


/*** MEDIA 480 ***/

@media screen and (max-width: 480px) {
  body {
    font-size: 8px;
  }
  .header {
    padding: 20px 25px 0;
  }
  .header__nav-item {
    margin-left: 8px;
  }
  .header__gallery {
    height: 200px;
  }
  .header__gallery-title {
    font-size: 15px;
  }
  #fp-nav {
    margin-right: 0;
  }
  .pagesection__item.active .pagesection__title {
    width: 70%;
    margin-left: 5px;
  }
  .pagesection__item.active .pagesection__title {
    margin-left: 25px;
  }
  .footer {
    padding: 0 25px 15px;
  }
  .callme__mynumber {
    font-size: 11px;
  }
  .follow__entry {
    width: 20px;
    height: 20px;
    margin: 0 2px;
  }
  .follow .fa {
    font-size: 10px;
    line-height: 18px;
  }
  .grid-item {
    width: 100%;
    padding: 15px;
  }
}
