@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Great+Vibes&subset=latin,cyrillic);

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font: 12px 'Open Sans Condensed', sans-serif;
}

h1 {
	margin: 0;
}



/* 
 * Header
 */

.header {
	position: fixed;
	left: 0;
	right: 0;
	padding: 50px 70px 0;
	z-index: 2;
	transition: .2s;
}

.header__logo {
	float: left;
}

.header__logo-link {
	display: block;
	font: 42px/42px 'Great Vibes', cursive;
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	transition: .2s;
}

.header__logo-link:hover {
	text-decoration: underline;
}

.header__nav {
	float: right;
	line-height: 42px;
	text-align: right;
}

.header__nav-item {
	margin-left: 25px;
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.header__nav-item:hover {
	text-decoration: underline;
}


.pagesection__item {
	background-size: cover;
}

.pagesection__item:nth-of-type(1) {
	background-image: url(../pic/1.jpg);
}

.pagesection__item:nth-of-type(2) {
	background-image: url(../pic/2.jpg);
}

.pagesection__item:nth-of-type(3) {
	background-image: url(../pic/3.jpg);
}

.pagesection__item:nth-of-type(4) {
	background-image: url(../pic/4.jpg);
}

.pagesection__item p {
	color: #fff;
	font-size: 3em;
	margin-left: 50px;
	text-transform: uppercase;
	transition: .5s;
	transition-delay: .5s;
	position: relative;
}

.pagesection__btn {
	font-size: 0.4em;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 10px 20px;
	text-decoration: none;
	color: #fff;
	background: #ef4138;
}

.pagesection__btn:hover i {
	padding-left: 15px;
}

.pagesection__btn i {
	padding-left: 5px;
	transition: .3s;
}


.pagesection__item.active p {
	margin-left: 70px;
}

.fp-tableCell {
	width: 100%;
	height: 100%;
	background-color: rgba(17, 17, 17, 0.9);
	transition: all 0.7s cubic-bezier(.2,.1,.3,1.0);
}

.active .fp-tableCell {
	background-color: rgba(17, 17, 17, 0.1);
}

/*******  Navigation Slider ***********/
#fp-nav {
	margin-right: 45px;
	transition: .2s;
}

#fp-nav ul li a span {
	background: #fff;
	transition: all .2s;
	transition-delay: .1s;
}

#fp-nav ul li a.active span {
	height: 12px;
width: 12px;
background: transparent;
border: solid 2px #fff;
margin: -5px 0 0 -6px;
border-radius: 100%;
}



.pagesection__frames,
.pagesection__corners {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

.pagesection__frames div {
	position: absolute;
}

.pagesection__frames div:nth-of-type(1) {
	width: 100%;
	height: 20px;
	top: 0;
	background: url(../img/border-horiz.svg) 50% 65%;
}

.pagesection__frames div:nth-of-type(2),
.pagesection__frames div:nth-of-type(4) {
	width: 20px;
	height: 100%;
	background: url(../img/border-vert.svg) 65% 50%;
}

.pagesection__frames div:nth-of-type(3) {
	width: 100%;
	height: 20px;
	background: url(../img/border-horiz.svg) 50% 65%;
	bottom: 0;
	transform: rotate(180deg);
}

.pagesection__frames div:nth-of-type(4) {
	right: 0;
	transform: rotate(180deg);
}

.pagesection__corners div::before,
.pagesection__corners div::after {
	content: '';
	position: absolute;
	width: 50px;
	height: 50px;
	left: 10px;
	top: 12px;
	background: url(../img/corner.svg) no-repeat center center;
}

.pagesection__corners div:nth-child(1)::after {
	left: auto;
	right: 10px;
	top: 12px;
	transform: rotate(90deg);
}

.pagesection__corners div:nth-child(2)::before {
	left: auto;
	right: 10px;
	top: auto;
	bottom: 12px;
	transform: rotate(180deg);
}

.pagesection__corners div:nth-child(2)::after {
	top: auto;
	bottom: 12px;
	transform: rotate(270deg);
}






.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 0 70px 50px;
	z-index: 2;
	transition: .2s;
}

.callme {
	float: left;
	line-height: 30px;
	color: #fff;
	text-decoration: none;
}

.callme__mynumber {
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.callme__mynumber:hover {
	text-decoration: underline;
}

.follow {
	float: right;
  font-size: 0;
  text-align: right;
}

.follow__entry {
  width: 30px;
  height: 30px;
  text-align: center;
  color: #6f6f6f;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  position: relative;
  border: 1px transparent solid;
  background: #111;
  font-size: 12px;
  vertical-align: bottom;
  transition: all 0.3s ease-out;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.follow__entry:last-child {
  margin-right: 0;
}

.follow__entry .fa {
  position: relative;
  line-height: 28px;
}

.follow__entry:before {
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  left: -2px;
  top: -2px;
  right: -2px;
  bottom: -2px;
  content: "";
  background: #fff;
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: all 0.15s ease-out;
}

.follow__entry:hover:before {
  transform: scale(1);
  -webkit-transform: scale(1);
}

.follow__entry:hover {
  color: #111;
}

.follow__entry {
  color: rgba(255, 255, 255, 1);
  background: none;
  border-color: rgba(255, 255, 255, 1);
}

.follow__entry:hover {
  color: #222;
}

.follow__entry:before {
  background: #fff;
}

.follow__entry:hover .fa-instagram {
	color: #125688;
}

.follow__entry:hover .fa-facebook {
	color: #45619D;
}

.follow__entry:hover .fa-vk {
	color: #597B9F;
}

.follow__entry:hover .fa-envelope-o {
	color: #DA4A38;
}






@media screen and (max-width: 700px) {
	.header {
		padding: 30px 45px 0; 
	}

	.header__logo-link {
		font-size: 32px;
		line-height: 32px;
	}

	.header__nav-item {
		font-size: 12px;
	}
	
	.pagesection__frames div:nth-of-type(1),
	.pagesection__frames div:nth-of-type(2),
	.pagesection__frames div:nth-of-type(3),
	.pagesection__frames div:nth-of-type(4) {
	background-position: 100% 100%;
	}

	.pagesection__corners div::before,
	.pagesection__corners div::after {
		left: 5px;
		top: 6px;
	}

	.pagesection__corners div:nth-child(1)::after {
		right: 5px;
		top: 6px;
	}

	.pagesection__corners div:nth-child(2)::before {
		right: 5px;
		bottom: 6px;
	}

	.pagesection__corners div:nth-child(2)::after {
		bottom: 6px;
	}

	#fp-nav {
		margin-right: 20px;
	}

	.footer {
		padding: 0 45px 30px;
	}
	
	.follow__entry {
		width: 24px;
		height: 24px;
		margin: 0 3px;
	}

	.follow .fa {
		font-size: 11px;
		line-height: 22px;
	}
}

@media screen and (max-width: 480px) {
	.header {
		padding: 20px 25px 0; 
	}

	.header__logo-link {
		font-size: 24px;
		line-height: 24px;
	}
	
	.header__nav {
		line-height: 24px;
	}

	.header__nav-item {
		font-size: 10px;
		line-height: 24px;
		margin-left: 8px;
	}
	
	#fp-nav {
		margin-right: 0;
	}

	.footer {
		padding: 0 25px 15px;
	}
	
	.callme__mynumber {
		font-size: 11px;
	}

	.follow__entry {
		width: 20px;
		height: 20px;
		margin: 0 2px;
	}

	.follow .fa {
		font-size: 10px;
		line-height: 18px;
	}
}